torch >= 2.0.0
torchaudio == 2.0.1
pytorch-lightning == 2.1.0
torchvision
matplotlib
scikit-learn
wandb
hydra-core
torch_tb_profiler
google-cloud-storage==1.43.0
google-cloud-secret-manager==2.0.0
dvc
dvc-gs